<!DOCTYPE html>
  <head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- animate -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">
  </head>
  <body class="gameover">
  <audio controls autoplay>
    <source src="./sounds/cricket.mp3" type="audio/mpeg">
  </audio>
    <div class="nav-bar">
      <h1 class="title nav"><a href="/" class="title-link">Puncher!!!</a></h1>
    </div>
    <div class="words">
      <h3 class="over animated bounceInDown">GAME OVER</h3>
      <p class="message">LOOKS LIKE YOU FAILED TO PROTECT THE ICE CREAM. TRY AGAIN LATER.</p>
      <h6><a href="/" class="restart">RESTART</a></h6>
    </div>

  </body>
</html>