  <head>
  <!-- Create JS -->
    <script src="https://code.createjs.com/createjs-2015.05.21.min.js"></script>
  <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!-- animate -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">
    <link rel="icon" 
      type="image/png" 
      href="./images/dead_mole.png" />
  </head>
  <!-- load init function -->
  <body>
  <div class="nav-bar">
    <h1 class="title nav">Puncher!!!</h1>
  </div>
  <marquee>RULES: Hover with your mouse. Guard the ice cream from flying pigs. Hit as many of them as you can until time is up.</marquee>
  <div class="start">
    <h2><a href="/game" id="start-link" class="animated infinite pulse">START!</a></h2>
    <img src="../images/ice_cream_s.png" id="ice-cream">
  </div>
  <div id="players">
    <p>TOP PLAYERS</p>
    <ul id="score-board">
      <% users.forEach(function(obj){ %>
        <div class="name-score">
          <li><%= obj.username %></li>
          <li><%= obj.score %></li>
        </div>
      <% }) %>
    </ul>
  </div>
  <img src="../images/dead_mole.png" class="animated bounceOutLeft" id="dead-mole">
  </body>
</html>