<!DOCTYPE html>
  <head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <!-- google font -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- animate -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">
  </head>
  <body>
    <div class="nav-bar">
      <h1 class="title nav"><a href="/" class="title-link">Puncher!!!</a></h1>
    </div>
    <div class="words">
      <h3 class="over animated bounceInDown">TIME'S UP</h3>
      <h6><a href="/" class="restart">RESTART</a></h6>
      <h6 class="word">Your Score: </h6>
      <h6 class="score"><%= score.score %></h6>
      <form action="/">
        <input type="text" name="username">ENTER YOUR NAME</input>
        <button>SUBMIT</button>
      </form>
    </div>
  </body>
</html>