body {
  background-color: #ffffff;
}

h1{
  font-family: 'Montserrat', sans-serif; 
  font-weight: 700;
  font-size: 40px;
  color: #ff0000;
}

#mycursor {
  /*cursor: none;*/
  width: 100%;
  height: 100%;
  background: url("../images/boxing_glove_copy.png") no-repeat left top;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 10000;
}

#gameCanvas {
  cursor: none;
}