body {
  background-color: #ffb72e;
  margin: 0px;
}

audio{
  display: none;
}

@font-face{
  font-family: "Marke Eigenbau";
  src: url(./fonts/mareib_reg/MARKEN__.TTF) format("truetype");
}

h1,h2,h3,h4,h6,p{
  font-family: 'Marke Eigenbau'; 
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}

div.nav-bar{
  background-color: #7fefff;
  margin: 0px;
  height: 80px;
}

h2{
  font-size: 200px;
  position: absolute;
  text-align: center;
}

h4{
  position: relative;
  right: 0px;
}

a{
  text-decoration: none;
}

/*Start page*/
.start{
  position: absolute;
  text-align: center;
  margin-left: 255px;
  margin-right: auto;
}

#start-link{
  color: #ff0000;
}

marquee{
  font-family: 'Marke Eigenbau';
  font-size: 16px;
  color: #fff400;
  margin: 5px 0 0 0;
}

/*Nav bar and such*/
.title{
  top: 12px;
  margin: 0 0 0 50px;
  float: left;
}

.title-link,#exit-link{
  color: #ffffff;
}

.nav{
  display: inline-block;
  position: relative;
  bottom: 35px;
  padding: 0 50px 0 50px;
}

.exit{
  float: right;
  text-align: right;
  margin-right: 50px;
  font-color: #ffffff;
}

/*closing words on TimesUp and GameOver pages*/
.gameover{
  background-image: url("../images/gamover_background.jpg");
  background-repeat: no-repeat;
  background-position: 0px 80px;
  background-size: cover;
}

.words{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.restart{
  color: #ea0075;
}

h3.over {
  font-weight: 7000;
 /* position: absolute;*/
 /* text-align: center;*/
  font-size: 100px;
  text-align: center;
  margin: 70px 0 70px 0;
  color: #ea0075;
}

h6{
  margin: 0px;
}

p{
  font-size: 20px;
}

/*Game page*/
.timer, .count{
  margin: 0px;
  bottom: 3px;
}

.dead-mole{
  bottom: -9px;
  padding-right: 5px;
}
.count{
  padding-left: 5px;
}

#mycursor {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 10000;
}

#gameCanvas {
  position: relative;
  cursor: none;
  bottom: 81px;
}
