body {
  /*background-color: #ffffff;*/
  margin: 0px;
}

audio{
  display: none;
}

@font-face{
  font-family: "Marke Eigenbau";
  src: url(./fonts/mareib_reg/MARKEN__.TTF) format("truetype");
}

h1,h2,h4{
  font-family: 'Marke Eigenbau'; 
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
}


div.nav-bar{
  background-color: #ff0000;
  margin: 0px;
  height: 100px;
}

h2{
  font-size: 200px;
  position: absolute;
  text-align: center;
}

h4{
  position: relative;
  right: 0px;
}

a{
  text-decoration: none;
}

.start{
  position: absolute;
  text-align: center;
  margin-left: 255px;
  margin-right: auto;
}

#start-link{
  color: #ff0000;
}

.title{
  top: 20px;
  margin: 0 0 0 50px;
  float: left;
}

.title-link,#exit-link{
  color: #ffffff;
}
.end{
  float: right;
  text-align: right;
  margin-right: 50px;
  font-color: #ffffff;
}

.nav{
  display: inline-block;
  position: relative;
  bottom: 30px;
  padding: 0 50px 0 50px;
}

h2.over {
  font-weight: 700;
  position: absolute;
  text-align: center;
  font-size: 150px;
  margin-left: 155px;
  color: #ff0000;
}
.timer, .count{
  margin: 0px;
  bottom: -5px;
}

.dead-mole{
  bottom: -15px;
  padding-right: 5px;
}
.count{
  padding-left: 5px;
}

#mycursor {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 10000;
}

#gameCanvas {
  position: relative;
  cursor: none;
  bottom: 55px;
}
